*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.wrapper{
    overflow: hidden;
}
.head1{
         margin-left: 40%;
         margin-top: 30px;
}
 